/* Icon font */
@font-face { 
  font-family: 'icon-font';
  src:url('../fonts/icon-font.eot?-mchb95');
  src:url('../fonts/icon-font.eot?') format('embedded-opentype'),
    url('../fonts/icon-font.woff?-mchb95') format('woff'),
    url('../fonts/icon-font.ttf?-mchb95') format('truetype'),
    url('../fonts/icon-font.svg?-mchb95') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icons-"], [class*=" icons-"] {
  font-family: 'icon-font';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icons-yt:before {content: "\e600";}
.icons-v:before {content: "\e601";}
.icons-tw:before {content: "\e602";}
.icons-st:before {content: "\e603";}
.icons-rss:before {content: "\e604";}
.icons-rd:before {content: "\e605";}
.icons-p:before {content: "\e606";}
.icons-m:before {content: "\e607";}
.icons-l:before {content: "\e608";}
.icons-in:before {content: "\e609";}
.icons-gh:before {content: "\e60a";}
.icons-g:before {content: "\e60b";}
.icons-fl:before {content: "\e60c";}
.icons-f:before {content: "\e60d";}
.icons-er-r:before {content: "\e60e";}
.icons-er-l:before {content: "\e60f";}
.icons-dr:before {content: "\e610";}