/*
    Name: Lost Leaf Studio Main CSS
    Description: Main CSS styles for LostLeafStudio.com
    Author: Josh Gerdes
    Author URI: http://joshgerdes.com
*/

/* fonts.css from the YUI Library: developer.yahoo.com/yui/
   Refer to developer.yahoo.com/yui/3/cssfonts/ for font sizing percentages
*/
body{font:13px/1.231 arial,helvetica,clean,sans-serif;*font-size:small;*font:x-small;}
select,input,button,textarea{font:99% arial,helvetica,clean,sans-serif;}
table{font-size:inherit;font:100%;}
pre,code,kbd,samp,tt{font-family:monospace;*font-size:108%;line-height:100%;}

/* Layout */
body {text-align:center; background:#EBEBAD url('../img/bg-body.png') repeat scroll 0 0; border-bottom: 50px solid #718E3B; border-top:10px solid #718E3B;}
nav {height:24px; margin:0 auto;}
nav ul li {margin: 0 0 0 27px; display:block; float:right; list-style:none; text-align:left;}
.head {margin-top:20px;}
header h1 {float:left;}
section {margin:20px 0 0;}
section header {border-bottom:#718E3B solid 1px; height:28px; margin:0 0 20px 0;}
section header h2 {float:left; margin:0;}
section header a {margin:10px 0 0 0; float:right; background:transparent url('../img/icon-arrow.png') no-repeat scroll center right; padding:0 10px 0 0;}
section header a:hover {background:transparent url('../img/icon-arrow-over.png') no-repeat scroll center right;}
section .row {margin:0;}

#about {text-align:left;}
#about ul li {list-style:square url('../img/icon-leaf.png') inside; margin:10px 0 0 0; text-align:left;}
#about h3 {margin-top:0;}

.card {display:block; float:left; height:176px; min-height:1px; margin-bottom:20px; margin-left:20px; position:relative; width:300px;}
.card-wrapper {display:block; width:100%; height:100%}
.card img {width:100%; height:100%; position:absolute; display:block}
.card .card-detail {border:2px solid #82A7AD; display:block; width:100%; height:100%; position:absolute; background:#fff; font-family:arial; font-weight:bold; font-size:16px; text-align: center;}
.card .card-detail h3 {margin:20px 10px;}
.card .card-detail .site-link {margin-left: 10px;}
.card.scroll {overflow:hidden}
.card.scroll .card-detail {bottom:-280px}
.card.flip {-webkit-perspective:800px;-moz-perspective:800px;-ms-perspective:800px;-o-perspective:800px;perspective:800px}
.card.flip .card-wrapper {-webkit-transition:-webkit-transform 1s;-moz-transition:-moz-transform 1s;-ms-transition:-moz-transform 1s;-o-transition:-moz-transform 1s;transition:-moz-transform 1s;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d;-ms-transform-style:preserve-3d;-o-transform-style:preserve-3d;transform-style:preserve-3d}
.card.flip .card-detail{-webkit-transform:rotateY(-180deg);-moz-transform:rotateY(-180deg);-ms-transform:rotateY(-180deg);-o-transform:rotateY(-180deg);transform:rotateY(-180deg)}
.card.flip img,
.card.flip .card-detail {-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;-o-backface-visibility:hidden;backface-visibility:hidden}
.card.flip .flipIt {-webkit-transform:rotateY(-180deg);-moz-transform:rotateY(-180deg);-ms-transform:rotateY(-180deg);-o-transform:rotateY(-180deg);transform:rotateY(-180deg)}

.reveal-modal {margin-left:-45%;}
.modal-container {display:none;}
.modal-container {background:#FFF url('../img/bg-body.png') repeat scroll 0 0;}
.modal-container {width:87%; padding:3%; border-bottom:#718E3B solid 10px; border-top:#718E3B solid 10px;}
.modal-container img {width:62%; float:left; margin:0 3% 0 0;}
.modal-container div {width:35%; float:left;}
.modal-container p,
.modal-container section {text-align:left;}
.modal-container h3 {margin:0 0 20px 0;}
.modal-container h4, .fancy-content h5 {margin:20px 0 0 0;}
.modal-container ul li {list-style:square url('../img/icon-leaf.png') inside;}

#contact {text-align:left;}
#contact ul li {display:block; width:100%; margin:20px 0; padding:0 0 0 30px;}
.icon-email {background:transparent url('../img/icon-email.png') no-repeat scroll center left;}
.icon-vcard {background:transparent url('../img/icon-vcard.png') no-repeat scroll center left;}
.icon-twitter {background:transparent url('../img/icon-twitter.png') no-repeat scroll center left;}
.icon-linkedin {background:transparent url('../img/icon-linkedin.png') no-repeat scroll center left;}
.icon-facebook {background:transparent url('../img/icon-facebook.png') no-repeat scroll center left;}

footer {background:#718E3B; height:40px; margin-bottom:-50px; margin-top:40px; padding:10px 0 0;}
footer section {margin:0;}
footer .row [class*="span"] {margin:0;}
footer #copyright {float:left;}
footer #validation {float:right;}

/* Typography */
a, a:hover, a:active { outline: none; }
h2 {color:#718E3B; font-size:182%; font-weight:normal; font-style:normal; line-height:normal; font-family:'HouschkaMedium', Arial, sans-serif; font-size-adjust:0.45; text-transform:uppercase;}
h3 {color:#82A7AD; font-size:138.5%; font-weight:normal; font-style:normal; line-height:normal; font-family:'HouschkaMedium', Arial, sans-serif; font-size-adjust:0.45; text-transform:uppercase;}
h4 {color:#82A7AD; font-size:108%; font-weight:normal; font-style:italic; line-height:normal; font-family:'HouschkaMedium', Arial, sans-serif; font-size-adjust:0.45; text-transform:uppercase;}
h5 {color:#718E3B; font-size:108%; font-weight:normal; font-style:normal; line-height:normal; font-family:'HouschkaMedium', Arial, sans-serif; font-size-adjust:0.45; text-transform:uppercase;}
nav {color:#718E3B; font-size:131%; font-weight:normal; font-style:normal; line-height:normal; font-family:'HouschkaMedium', Arial, sans-serif; font-size-adjust:0.45; text-transform:uppercase;}
nav a {color:#718E3B; text-decoration:none;}
nav a:hover {color:#82A7AD; text-decoration:none;}
section header a {color:#82A7AD; font-size:77%; text-decoration:none; text-transform:uppercase;}
section header a:hover {color:#718E3B;}

#contact p,
#about p {font-size:116%;}
#about ul li {color:#718E3B; font-size:108%;}
.tweet {font-size:92.3%;}
#work a {color:#82A7AD; text-decoration:none;}
#work a:hover {color:#718E3B;}

footer {color:#EBEBAD; font-size:85%;}
footer a {color:#EBEBAD; font-size:85%; text-decoration:none;}
footer a:hover {border-bottom:#EBEBAD dotted 1px;}

/* Fonts */
@font-face {
    font-family: 'HouschkaMedium';
    src: url('fonts/houschka-medium-webfont.eot');
    src: url('fonts/houschka-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/houschka-medium-webfont.woff') format('woff'),
         url('fonts/houschka-medium-webfont.ttf') format('truetype'),
         url('fonts/houschka-medium-webfont.svg#webfontaTDQ1WRp') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Media Queries */
@media(max-width:979px) and (min-width:769px) {
    .card {height:134px; width:228px}
    .card .card-detail h3 {font-size: 100%;}
}
@media(max-width:678px) {
    .card {float:center; margin-left:auto; margin-right:auto}
    .modal-container h3 {margin-top:20px !important;}
    .modal-container img {width:100%; margin:0 0 20px;}
    .modal-container div {width:100%;}
    .modal-container section {width:50%; margin:20px auto;}
}
@media (max-width: 489px) {
    nav {float:left;}
    nav ul {margin-left:0;}
    nav ul li {margin:0; width:80px;}
    footer #copyright, 
    footer #validation {float:center;}
}