@import url(navbar.css);
@import url(button.css);

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  position: fixed;
}

body {
  background: #e6e6e6;
  color: #333;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  display: flex;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

header {
  height: 52px;
}

.content {
  flex: 100%;
}

.content > section {
  display: flex;
  flex: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.content > section > div {
  min-height: 240px;
}

.content > section > div,
footer > div,
header {
  display: flex;
  flex: 100%;
  max-width: 991px;
  min-width: 320px;
  flex-wrap: wrap;
}

.content a,
.content a:visited {
  color: #333;
  text-decoration: none;
}

.content a:hover,
.content a:focus {
  color: #718d35;
  text-decoration: none;
}

.tagline > div {
  color: #333;
  font-family: 'Raleway', sans-serif;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tagline b {
  color: #718d35;
}

.cribbage {
  background-image: linear-gradient(
    160deg,
    rgb(76, 175, 80) 0%,
    rgb(33, 150, 243) 100%
  );
  color: #fff;
  padding: 40px 0;
}

.cribbage > div {
  justify-content: space-evenly;
  align-items: center;
}

.cribbage .callout {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cribbage .title {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 50px;
  text-shadow: 3px 3px 8px #333;
}

.cribbage .description {
  padding: 40px 0 0;
  text-align: center;
}

.cribbage img {
  height: 500px;
}

.riverraid {
  background-color: #4cd964;
  color: #fff;
}

.riveraid > div {
  justify-content: space-evenly;
  align-items: center;
}

.riverraid div:first-child {
  flex: 50%;
  margin-bottom: -1px;
}

.riverraid .callout {
  display: flex;
  flex: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.riverraid .title {
  color: #fff;
  font-family: 'Notable', sans-serif;
  font-size: 44px;
  text-shadow: 2px 2px 4px #333;
  text-align: center;
}

.riverraid .description {
  padding: 30px 0 0;
  text-align: center;
}

.riverraid .btn {
  margin: 30px 0;
}

.riverraid img {
  min-width: 320px;
  max-width: 100%;
  height: auto;
}

.capabilities > div {
  justify-content: space-evenly;
  align-items: center;
}

.capabilities .callout {
  display: flex;
  flex: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}

.capabilities .feather {
  color: #333;
  height: 50px;
  width: 50px;
  padding: 10px 0;
}

.capabilities .title {
  color: #718d35;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.capabilities .description {
  padding: 10px 50px;
  text-align: center;
}

footer {
  background-color: #82a8ad;
  min-height: 270px;
  display: flex;
  flex: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

footer > div {
  justify-content: space-evenly;
}

footer .about {
  display: flex;
  flex: 50%;
  flex-direction: column;
  padding: 40px 0 0;
}

footer .contact {
  display: flex;
  flex: 50%;
  flex-direction: column;
  padding: 40px 0 0;
  align-items: center;
}

footer .title {
  font-size: 18px;
  font-weight: bold;
  padding: 0 40px 20px;
  text-align: left;
}

footer .feather {
  color: #333;
  height: 20px;
  width: 20px;
  padding: 0;
}

footer a,
footer a:visited {
  color: #333;
  text-decoration: none;
}

footer a:hover,
footer a:focus {
  text-decoration: underline;
}

footer .description,
footer .contact ul {
  padding: 0 40px;
}

footer .contact .title {
  width: 234px;
}

footer .contact ul {
  margin: 0;
  list-style: none;
  list-style-position: inside;
  width: 234px;
}

footer .contact ul li {
  display: flex;
  margin: 20px 0 0;
}

footer .contact li:first-child {
  margin: 0;
}

footer .contact li > .feather {
  padding: 0 10px 0 0;
}

footer .social {
  margin: 30px 0 0;
}

footer .social a {
  margin: 0 35px 0 0;
}

footer .copyright {
  font-size: 14px;
  padding: 30px 40px 10px;
  width: 100%;
}

/* Single */
.single-header {
  margin: 20px 0;
}

.single-content {
  padding: 20px;
}

.download > div {
  display: flex;
  min-height: auto !important;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.download > div > div {
  flex: 1;
  min-width: 320px;
  text-align: center;
}

.download .title {
  font-size: 20px;
  font-weight: bold;
  padding: 0 0 15px;
}

.download img {
  height: 50px;
}

.header-cribbage {
  background-image: linear-gradient(
    160deg,
    rgb(76, 175, 80) 0%,
    rgb(33, 150, 243) 100%
  );
  color: #fff;
}

.header-riverraid {
  background-color: #4cd964;
  color: #fff;
}

.header-cribbage > div,
.header-riveraid > div {
  justify-content: space-evenly;
  align-items: center;
}

.header-cribbage .graphic,
.header-riverraid .graphic {
  text-align: center;
  flex: 50%;
  margin-bottom: -3px;
}

.header-cribbage .graphic img {
  height: 212px;
  margin: 35px 0 0;
}

.header-cribbage .callout,
.header-riverraid .callout {
  display: flex;
  flex: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-cribbage .title {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 50px;
  text-shadow: 3px 3px 8px #333;
  padding: 20px 0;
}

.header-riverraid .title {
  color: #fff;
  font-family: 'Notable', sans-serif;
  font-size: 44px;
  text-shadow: 2px 2px 4px #333;
  text-align: center;
  padding: 0 0 20px;
}

.header-riverraid img {
  min-width: 320px;
  max-width: 100%;
  height: auto;
}

.screenshot {
  margin: 20px auto;
  max-width: 500px;
}

.screenshot img {
  display: block;
  min-width: 280px;
  max-width: 100%;
  height: auto;
}

.screenshots {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.screenshots > div {
  display: flex;
  flex: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.screenshots img {
  width: 280px;
  height: auto;
}

.list > div {
  display: block !important;
  padding-left: 30px;
}
