.navbar {
  display: flex;
  justify-content: space-between;
  background: #e6e6e6;
  padding: 6px 8px 20px;
  text-transform: uppercase;
  flex: 100%;
}

.navbar-brand {
  padding: 0;
  position: relative;
  color: #333;
  text-decoration: none;
}

.navbar-brand__logo {
  width: 42px;
  height: 42px;
  display: inline-block;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 4px;
}

.navbar-brand__title {
  margin-left: 45px;
  font-size: 26px;
  font-weight: normal;
  line-height: 32px;
  white-space: nowrap;
}

.navbar-brand__description {
  font-size: 13px;
  font-weight: 300;
  margin-left: 46px;
  letter-spacing: 0.014em;
  white-space: nowrap;
}

.navbar-nav {
  margin: 0;
  background: #e6e6e6;
  position: absolute;
  right: -100%;
  top: 52px;
  width: 100%;
  /* height: calc(100% - 52px); */
  flex-direction: column;
  justify-content: space-around;
  padding: 20px 0;
  transition: all 400ms;
  list-style: none;
  list-style-position: inside;
}

.navbar-nav a,
.navbar-nav:visited {
  color: #333;
  text-decoration: none;
}

.navbar-nav a:hover,
.navbar-nav a:focus {
  color: #718d35;
}

.navbar-item {
  text-align: center;
  padding: 10px;
}

.nav-active {
  right: 0;
}

.navbar-toggler {
  border: none;
  background: transparent !important;
  padding: 20px 5px 5px 0;
}

.navbar-toggler:focus {
  outline: none;
  background: transparent !important;
}

.navbar-toggler .icon-bar {
  background-color: #000;
  transform: rotate(0deg) translate(0px, 0px);
  transition: ease all 0.2s;
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}

.navbar-toggler .icon-bar + .icon-bar {
  margin-top: 4px;
}

.icon-bar:nth-child(2) {
  width: 16px;
  transition: ease all 0.2s;
}

.navbar-toggler:hover > .icon-bar:nth-child(2) {
  width: 22px;
  transition: ease all 0.2s;
}

.navbar-toggler:active > .icon-bar:nth-child(2) {
  width: 22px;
  transition: ease all 0.2s;
}

.navbar-toggler:not(.collapsed) .icon-bar:nth-child(1) {
  transform: rotate(45deg) translate(5px, 4px);
  transition: ease all 0.2s;
}

.navbar-toggler:not(.collapsed) .icon-bar:nth-child(2) {
  opacity: 0;
  transition: ease all 0.2s;
}

.navbar-toggler:not(.collapsed) .icon-bar:nth-child(3) {
  transform: rotate(-45deg) translate(4px, -4px);
  transition: ease all 0.2s;
}
