---
layout: default
---
<div class="portfolio">
  {% for post in site.posts %}
    {% assign loopindex = forloop.index0 | modulo: 3 %}
    {% if loopindex == 0 or forloop.first %}
      <div class="row">
    {% endif %}

      <div class="col-sm-4 portfolio-item">
        <a href="{{ site.baseurl }}/{{ post.url | remove_first: '/' }}" data-content="{{ post.title }}" class="portfolio-item__image">  
          <img class="img-responsive" src="{{ site.baseurl }}/{{ post.image_thumb }}" alt="">
        </a>  
      </div>

    {% if loopindex == 2 or forloop.last %}
      </div>
    {% endif %}
  {% endfor %}
</div>