.btn {
  background-position: center;
  transition: background 0.8s;
}
.btn:hover {
  background: #eee radial-gradient(circle, transparent 1%, #eee 1%)
    center/15000%;
}
.btn:active {
  background-color: #eee;
  background-size: 100%;
  transition: background 0s;
}

/* Button style */
.btn {
  display: flex;
  border: none;
  border-radius: 2px;
  margin: 40px;
  padding: 12px 18px;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  color: #718d35 !important;
  background-color: #fff;
  box-shadow: 2px 2px 4px #666;
  outline: none;
}
