<nav class="navbar navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 clearfix">
        <a class="navbar-brand" href="{{ site.baseurl }}/">
          <div class="navbar-brand__logo" style="background-image: url({{ site.baseurl }}/images/logo.png)"></div>
          <div class="navbar-brand__title">{{ site.title }}</div>
          <div class="navbar-brand__description">{{ site.description }}</div>
        </a>
      </div>
      <div class="col-sm-6 clearfix">
        <ul class="nav navbar-nav">
          <li>
            <a href="{{ site.baseurl }}/contact">Contact</a>
          </li>
          <li>
            <a href="{{ site.baseurl }}/">Portfolio</a>
          </li>
          <li>
            <a href="{{ site.baseurl }}/about">About</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>