<footer>
    <div>
        <div class="about">
            <div class="title">About Us</div>
            <div class="description">We are a full service web and mobile development studio specializing in effective
                standards based design and development. We pride ourselves in building quality user-friendly websites
                and applications with the most current technologies available.</div>
        </div>
        <div class="contact">
            <div class="title contact-title">Contact Info</div>
            <ul>
                {{ with .Site.Params.Social.Email }}
                <li><i data-feather="mail"></i> <a href="mailto:{{.}}" title="Email Us" rel="noopener noreferrer"
                        target="_blank">info@lostleafstudio.com</a></li>
                {{ end }}
                {{ with .Site.Params.Map }}
                <li><i data-feather="map"></i> <a href="https://{{.}}" title="Our Location" rel="noopener noreferrer"
                        target="_blank">Minneapolis, Minnesota</a></li>
                {{ end }}
                <li>
                    <div class="social">
                        {{ with .Site.Params.Social.Twitter }}
                        <a href="https://twitter.com/{{.}}" title="Twitter" rel="noopener noreferrer" target="_blank"><i
                                data-feather="twitter"></i></a>
                        {{ end }}
                        {{ with .Site.Params.Social.LinkedIn }}
                        <a href="https://linkedin.com/{{.}}" title="LinkedIn" rel="noopener noreferrer"
                            target="_blank"><i data-feather="linkedin"></i></a>
                        {{ end }}
                        {{ with .Site.Params.OwnerSite }}
                        <a href="https://{{.}}" title="The Owner" rel="noopener noreferrer" target="_blank"><i
                                data-feather="smile"></i></a>
                        {{ end }}
                        <a href="/index.xml" title="RSS" target="_blank"><i data-feather="rss"></i></a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="copyright">&copy; {{ now.Format "2006" }} {{ .Site.Params.Author }}. All rights reserved.</div>
    </div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.24.1/feather.min.js"></script>
<script src="/js/main.js"></script>
{{ template "_internal/google_analytics.html" . }}