{{ define "main" }}

<section class="tagline">
  <div>
    <span>We <b>build</b> and <b>design</b> digital products that make you look good.</span>
  </div>
</section>

<section class="cribbage">
  <div>
    <div class="callout">
      <div class="title">Cribbage<br />Scoring<br />Pegboard</div>
      <div class="description">Scoring made easy whether you're at home or on the go. Download today!</div>
      <a href="{{ .Site.BaseURL }}/apps/cribbage-pegboard/" class="btn">Learn More</a>
    </div>
    <img src="{{ .Site.BaseURL }}/images/cribbage-pegboard-iphone.png" alt="Screenshot of Cribbage Scoring Pegboard App" />
  </div>
</section>

<section class="riverraid">
  <div>
    <div>
      <img src="{{ .Site.BaseURL }}/images/river-raid.png" alt="River Raid Classic Graphic" />
    </div>
    <div class="callout">
      <div class="title">River Raid<br />Classic</div>
      <div class="description">Relive your childhood adventures on the river of no return.</div>
      <a href="{{ .Site.BaseURL }}/apps/river-raid-classic/" class="btn">Learn More</a>
    </div>
  </div>
</section>

<section class="capabilities">
  <div>
    <div class="callout">
      <div><i data-feather="layers"></i></div>
      <div class="title">Web Design</div>
      <div class="description">A successful site should be designed around aesthetics and usability. Good web design has a positive impact on your guests and the bottom line.</div>
    </div>
    <div class="callout">
      <div><i data-feather="smartphone"></i></div>
      <div class="title">Mobile Development</div>
      <div class="description">Meet your audience where they want to be. Our team of experienced developers create rich mobile experiences that keep users engaged and filled with joy.</div>
    </div>
    <div class="callout">
      <div><i data-feather="dollar-sign"></i></div>
      <div class="title">E-Commerce Solutions</div>
      <div class="description">We design e-commerce solutions that make it easy for your guest to search and purchase your products. We create sites that turn curiosity into conversion.</div>
    </div>
    <div class="callout">
      <div><i data-feather="zap"></i></div>
      <div class="title">Performance Optimization</div>
      <div class="description">To meet all of your business goals you need to be able to reach your audience fast and efficiently. We strive to build sites and applications that are optimized for success.</div>
    </div>
  </div>
</section>

{{ end }}
