{{ define "main" }}
<main class="main">
    <section class="section">
        <div class="section-inner">
            <section class="list">
                <div>
                    <h2>{{ .Title }}</h2>
                    {{ if gt (len .Pages) 0 }}
                    <ul>
                        {{ range .Pages }}
                        <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
                        {{ end }}
                    </ul>
                    {{ end }}
                </div>
            </section>
        </div>
    </section>
</main>
{{ end }}