---
layout: default
---
<header class="post-header row">
  <div class="col-sm-12">
    <h2 class="post-title">{{ page.title }}</h2>
    <a class="post-title" href="{{ page.project_url }}" target="_blank">{{ page.project_label }}</a>
  </div>
</header>

<section class="post row">
  <div class="col-sm-4">
    {{ content }}
  </div>
  <div class="col-sm-8">
    <img class="img-responsive" src="{{ site.baseurl }}/{{ page.image_main }}" alt="">
    <div class="post-meta">
      <span class="post-meta__label">Posted:</span> <time datetime="{{ page.date | date: "%-d %b %Y" }}" class="post-meta__date date">{{ page.date | date: "%-d %b %Y" }}</time> &#8226; <span class="post-meta__label">Tags:</span> {% for tag in page.tags %}<a href="{{ site.baseurl }}tags/#{{ tag }}" class="post-meta__tag">{{ tag }}</a> {% endfor %}</span>
    </div>
  </div>
</section>